<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Your Health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " role="button" aria-current="page" href="#">Home</a>
        </li>
        <div class="nav-item dropdown d-flex text-white " >
          <a class="nav-link dropdown-toggle active"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Dashboard
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/appointments">Appointments</a></li>
            <li><a class="dropdown-item" href="/doctors">Doctors</a></li>
            <li><a class="dropdown-item" href="/patients">Patients</a></li>
            <li><a class="dropdown-item" href="/specialities">Specialities</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <div class="nav-item dropdown d-flex text-white " >
            <a class="nav-link dropdown-toggle active"  href="/manage" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Appointments</a></li>
              <li><a class="dropdown-item" href="/manage-doctor">Doctors</a></li>
              <li><a class="dropdown-item" href="/">Patients</a></li>
              <li><a class="dropdown-item" href="/manage-speciality">Specialities</a></li>
            </ul>
          </div>        </li>
      </ul>
    </div>
    <div class="nav-item dropdown d-flex text-white " >
      <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
        Account
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/register">Register</a></li>
        <li><a class="dropdown-item" href="/login">LogIn</a></li>
      </ul>
    </div>
    </div>
</nav>
