<div class="container mt-5">
  <h2 class="mb-4" style="text-align: center; border: 2px solid rgb(0, 153, 255); padding: 10px;">Specialities</h2>
<!--
  <div class="d-flex mb-4">
    <input
      type="text"
      class="form-control me-2"
      placeholder="Search Specialities..."
      [(ngModel)]="searchTerm"
    />
    <button
      class="btn btn-primary"
      (click)="loadAllSpecialities()">
      Search
    </button>
  </div> -->


<div *ngIf="filteredSpecialities.length > 0; else elseBlock">
  <div class="row">
    <div *ngFor="let speciality of filteredSpecialities" class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">{{ speciality.specialityName }}</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li *ngFor="let doctor of speciality.doctors" class="list-group-item">
              <div>
                <h6 class="mb-1">{{ doctor.docFirstName }} {{ doctor.docLastName }}</h6>
                <p class="mb-1">{{ doctor.email }}</p>
                <small class="text-muted">Phone: {{ doctor.phone }}</small>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="d-flex align-items-center justify-content-center">
    <div class="rounded-pill text-muted" style="border: 2px solid rgb(0, 153, 255); padding: 10px;">No Specialities to display</div>
  </div>
 </ng-template>

