<div class="container mt-5">
  <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Your Health</h1>
      <p class="lead">We are committed to providing you with the best healthcare experience</p>
      <hr class="my-4">
      <p>Book an appointment with our top doctors easily and quickly.</p>
      <a routerLink="/manage" class="p-button font-bold p-menuitem-link btn btn-primary m-2">
        Make an Appointment
    </a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="https://static.vecteezy.com/system/resources/previews/000/656/917/original/vector-set-of-doctor-cartoon-characters-medical-staff-team-concept-in-front-of-hospital.jpg" alt="Team" class="img-fluid float-right" style="max-width: 400; margin-top: 20px;">
    </div>
    <div class="col-md-6">
      <p style="margin-block: 40px; font-size: 20px;">
        Simplify your healthcare journey with our intuitive appointment booking app. Say goodbye to long wait times on the phone and hello to instant scheduling at your fingertips. Whether you need a routine checkup or specialist care, our app connects you with top healthcare providers in your area. Manage appointments for your whole family, access medical records securely, and receive timely reminders—all from one user-friendly platform. Take control of your health and save time with our efficient, easy-to-use app.
      </p>
    </div>
  </div>
</div>
